{% extends 'agency/base.html' %}

{% load static %}

{% block title %}
Profile - {{ agency.name }}
{% endblock %}

{% block content %}
<div class="dashboard-content-wrap">
    <div class="dashboard-bread dashboard-bread-2">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="breadcrumb-content">
                        <div class="section-heading">
                            <h2 class="sec__title font-size-30 text-white">Agency Profile</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="breadcrumb-list text-right">
                        <ul class="list-items">
                            <li><a href="{% url 'website:home' %}" class="text-white">Home</a></li>
                            <li>Dashboard</li>
                            <li>Profile</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dashboard-main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-box">
                        <div class="form-title-wrap">
                            <h3 class="title">Agency Information</h3>
                        </div>
                        <div class="form-content">
                            <div class="profile-image mb-4">
                                {% if agency.profile_image %}
                                <img src="{{ agency.profile_image.url }}" alt="{{ agency.name }}" class="img-fluid rounded">
                                {% else %}
                                <img src="{% static 'website/images/user_default.png' %}" alt="{{ agency.name }}" class="img-fluid rounded">
                                {% endif %}
                            </div>
                            <div class="profile-info">
                                <h4 class="mb-3">{{ agency.name }}</h4>
                                <p class="mb-2"><i class="la la-envelope mr-2"></i> {{ agency.email }}</p>
                                <p class="mb-2"><i class="la la-phone mr-2"></i> {{ agency.phone_number }}</p>
                                <p class="mb-2"><i class="la la-map-marker mr-2"></i> {{ agency.address }}</p>
                                <p class="mb-2">{{ agency.city }}, {{ agency.state }} {{ agency.zip_code }}</p>
                                <p class="mb-2">{{ agency.country }}</p>
                                {% if agency.website %}
                                <p class="mb-2"><i class="la la-globe mr-2"></i> <a href="{{ agency.website }}" target="_blank">{{ agency.website }}</a></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="form-box">
                        <div class="form-title-wrap">
                            <h3 class="title">About Agency</h3>
                        </div>
                        <div class="form-content">
                            <div class="about-agency">
                                <p class="mb-4">{{ agency.description }}</p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="info-item">
                                            <h5>License Number</h5>
                                            <p>{{ agency.license_number }}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="info-item">
                                            <h5>Established Year</h5>
                                            <p>{{ agency.establish_year|date:"Y" }}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="info-item">
                                            <h5>Team Size</h5>
                                            <p>{{ agency.team_size }} members</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="info-item">
                                            <h5>Rating</h5>
                                            <p>
                                                {% if agency.rating %}
                                                {{ agency.rating }}/5.0
                                                {% else %}
                                                No ratings yet
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}