{% load static %}

<div class="sidebar-nav sidebar--nav">
    <div class="sidebar-nav-body">
        <div class="side-menu-close">
            <i class="la la-times"></i>
        </div>

        <div class="author-content">
            <div class="d-flex align-items-center">
                <div class="author-img avatar-sm">
                    {% if user.local_guide_app_profile.image %}
    <img src="{{ user.local_guide_app_profile.image.url }}" alt="{{ user.local_guide_app_profile.full_name }}">
{% else %}
    <img src="{% static 'website/images/user_default.png' %}" alt="Default profile image">
{% endif %}
                </div>
                <div class="author-bio">
                    <h4 class="author__title">{{user.username|capfirst}} Local Guide</h4>
                    <span class="author__meta">Welcome to Guide Dashboard</span>
                </div>
            </div>
        </div>

        <div class="sidebar-menu-wrap">
            <ul class="sidebar-menu toggle-menu list-items">
                <li class="{% if request.path == '/guides/dashboard/' %}page-active{% endif %}">
                    <a href="{% url 'local_guide:dashboard' %}"><i class="la la-dashboard mr-2"></i>Dashboard</a>
                </li>
                <li class="{% if request.path == '/guides/bookings/' %}page-active{% endif %}">
                    <a href="{% url 'local_guide:booking_list' %}"><i class="la la-shopping-cart mr-2 text-color"></i>Bookings</a>
                </li>
                <li class="{% if request.path == '/guides/travelers/' %}page-active{% endif %}">
                    <a href="{% url 'local_guide:traveller_list' %}"><i class="la la-users mr-2 text-color"></i>Travelers</a>
                </li>
                <li class="{% if request.path == '/guides/payments/' %}page-active{% endif %}">
                    <a href="{% url 'local_guide:payment_list' %}"><i class="la la-money mr-2 text-color"></i>Payments</a>
                </li>
                <li class="{% if request.path == '/guides/settings/' %}page-active{% endif %}">
                    <a href="{% url 'local_guide:settings' %}"><i class="la la-cog mr-2 text-color-10"></i>Settings</a>
                </li>
                <li><a href="{% url 'account_logout' %}"><i class="la la-power-off mr-2 text-color-11"></i>Logout</a></li>
            </ul>
        </div>
    </div>
</div>