{% extends 'traveler/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Book Local Guide
{% endblock %}

{% block content %}
<div class="dashboard-content-wrap">
    <div class="dashboard-bread dashboard-bread-2">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="breadcrumb-content">
                        <div class="section-heading">
                            <h2 class="sec__title font-size-30 text-white">Book Local Guide</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="breadcrumb-list text-right">
                        <ul class="list-items">
                            <li><a href="{% url 'website:home' %}" class="text-white">Home</a></li>
                            <li>Local Guides</li>
                            <li>Book Guide</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dashboard-main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="form-box">
                        <div class="form-title-wrap">
                            <h3 class="title">Booking Details</h3>
                        </div>
                        <div class="form-content">
                            <div class="guide-info mb-4">
                                <div class="row align-items-center">
                                    <div class="col-md-3">
                                        {% if guide.image %}
                                        <img src="{{ guide.image.url }}" alt="{{ guide.full_name }}" class="rounded-circle img-fluid">
                                        {% else %}
                                        <img src="{% static 'website/images/default-avatar.jpg' %}" alt="Default" class="rounded-circle img-fluid">
                                        {% endif %}
                                    </div>
                                    <div class="col-md-9">
                                        <h4>{{ guide.full_name }}</h4>
                                        <p class="mb-2">
                                            <i class="la la-map-marker"></i> {{ guide.city }}, {{ guide.country }}
                                        </p>
                                        <p class="mb-0">
                                            <i class="la la-star text-warning"></i> {{ guide.rating|default:"No ratings yet" }}
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <form method="post" class="form">
                                {% csrf_token %}
                                {{ form|crispy }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 