{% extends 'buyer/base.html' %}

{% load static %}

<!--------------------------------------------------TITLE-------------------------------------------------------------->
{% block title %}
DASHBOARD-HOME
{% endblock %}


{% block content %}
 <div class="dashboard-content-wrap">
        <div class="dashboard-bread">
            <div class="container-fluid">

                {#-----Background-----#}
                <div class="row align-items-center">

                    <div class="col-lg-6">
                        <div class="breadcrumb-content">
                            <div class="section-heading">
                                <h2 class="sec__title font-size-30 text-white">Hi, {{user.first_name}} Welcome Back!</h2>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="breadcrumb-list text-right">
                            <ul class="list-items">
                                <li><a href="{% url 'website:home' %}" class="text-white">Home</a></li>
                                <li>Pages</li>
                                <li>buyer Dashboard</li>
                            </ul>
                        </div>
                    </div>
                </div>

                {#-----Dashboard-----#}
                <div class="row mt-4">
                    <div class="col-lg-3 responsive-column-m">
                        <div class="icon-box icon-layout-2 dashboard-icon-box">
                            <div class="d-flex">
                                <div class="info-icon icon-element flex-shrink-0">
                                   <i class="la la-shopping-cart"></i>
                                </div>
                                <div class="info-content">
                                    <p class="info__desc">Total Booking</p>
                                    <h4 class="info__title">{{booking.count}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 responsive-column-m">
                        <div class="icon-box icon-layout-2 dashboard-icon-box">
                            <div class="d-flex">
                                <div class="info-icon icon-element bg-2 flex-shrink-0">
                                   <i class="la la-bookmark"></i>
                                </div>
                                <div class="info-content">
                                    <p class="info__desc">Wishlist</p>
                                    <h4 class="info__title">15</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 responsive-column-m">
                        <div class="icon-box icon-layout-2 dashboard-icon-box">
                            <div class="d-flex">
                                <div class="info-icon icon-element bg-3 flex-shrink-0">
                                   <i class="la la-plane"></i>
                                </div>
                                <div class="info-content">
                                    <p class="info__desc">Total Travel</p>
                                    <h4 class="info__title">25</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 responsive-column-m">
                        <div class="icon-box icon-layout-2 dashboard-icon-box">
                            <div class="d-flex">
                                <div class="info-icon icon-element bg-4 flex-shrink-0">
                                   <i class="la la-star"></i>
                                </div>
                                <div class="info-content">
                                    <p class="info__desc">Reviews</p>
                                    <h4 class="info__title">20</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="dashboard-main-content">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-lg-12 responsive-column--m">
                        <div class="form-box dashboard-card order-card border-0">
                            <div class="form-title-wrap">
                                <h3 class="title">Orders</h3>
                            </div>
                            <div class="form-content p-0">
                                <div class="list-group drop-reveal-list">
                                    <div class="list-group-item list-group-item-action border-top-0">
                                        <div class="msg-body d-flex align-items-center justify-content-between">
                                            <div class="msg-content">
                                                <h3 class="title pb-2">3 - Night Bahamas - Miami Round-Trip</h3>
                                                <ul class="list-items d-flex align-items-center">
                                                    <li class="font-size-14 mr-2"><span class="badge badge-success py-1 px-2 font-size-13 font-weight-medium">Paid</span></li>
                                                    <li class="font-size-14 mr-2">Order: #232</li>
                                                    <li class="font-size-14">Date: 11/05/2019</li>
                                                </ul>
                                            </div>
                                            <a href="#" class="theme-btn theme-btn-small theme-btn-transparent font-size-13">
                                                View Invoice
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="border-top mt-4"></div>

                {#----------DASH FOOTER---------#}
                {% include 'buyer/include/dashboard_footer.html' %}

            </div>
        </div>
    </div>
{% endblock %}