{% load static %}

<div class="sidebar-nav sidebar--nav">
    <div class="sidebar-nav-body">
        <div class="side-menu-close">
            <i class="la la-times"></i>
        </div>

        <div class="author-content">
            <div class="d-flex align-items-center">
                <div class="author-img avatar-sm">
                     {% if user.profile_image %}
                    <img src="{{user.profile_image.url}}" alt="user">
                    {% else %}
                    <img src="{% static 'website/images/user_default.png' %}" alt="user">
                    {% endif %}
                </div>
                <div class="author-bio">
                    <h4 class="author__title">{{user.username|capfirst}} Travel Agency</h4>
                    <span class="author__meta">Welcome to Admin Panel</span>
                </div>
            </div>
        </div>

        <div class="sidebar-menu-wrap">
            <ul class="sidebar-menu toggle-menu list-items">
                <li class="{% if request.path == '/agency/dashboard/' %}page-active{% endif %}">
                    <a href="{% url 'website:home' %}"><i class="la la-dashboard mr-2"></i>Website</a></li>
                <li class="{% if request.path == '/agency/dashboard/' %}page-active{% endif %}">
                    <a href="{% url 'traveler:dashboard' %}"><i class="la la-dashboard mr-2"></i>Dashboard</a></li>
                <li class="{% if request.path == '/agency/booking/' %}page-active{% endif %}">
                    <a href="{% url 'traveler:booking' %}"><i
                            class="la la-shopping-cart mr-2 text-color"></i>Booking</a></li>
              
                <li>
                    <span class="side-menu-icon toggle-menu-icon">
                        
                    </span>
                    <a href="{% url 'traveler:finance' %}"><i class="la la-area-chart mr-2 text-color-8"></i>Saved</a>
                </li>
                <li>
                    <span class="side-menu-icon toggle-menu-icon">
                        
                    </span>
                    <a href="{% url 'traveler:finance' %}"><i class="la la-area-chart mr-2 text-color-8"></i>My Trips</a>
                </li>
                <li class="{% if request.path == '/traveler/setting/' %}page-active{% endif %}"><a href="{% url 'traveler:settings' %}"><i class="la la-cog mr-2 text-color-10"></i>User Settings</a>
                </li>
                <li><a href="{% url 'account_logout' %}"><i class="la la-power-off mr-2 text-color-11"></i>Logout</a></li>
            </ul>
        </div>

    </div>
</div>