{% extends 'website/base.html' %}

{% load static %}

<!------------------------------------------------TITLE---------------------------------------------------------------->
{% block title %}
HOME
{% endblock %}

<!------------------------------------------------MAIN CONTENT--------------------------------------------------------->
{% block content %}
<!------------------------------------------------BANNER--------------------------------------------------------------->
<section class="breadcrumb-area bread-bg">
    <div class="breadcrumb-wrap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-content">
                        <div class="section-heading">
                            <h2 class="sec__title text-white ">Schedules Lists</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bread-svg-box">
            <svg class="bread-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none">
                <polygon points="100 0 50 10 0 0 0 10 100 10"></polygon>
            </svg>
        </div>
    </div>
</section>

<!------------------------------------------------CARD AREA------------------------------------------------------------>
<section class="card-area section--padding">
    <div class="container">

        {#-----------------Filters-----------------#}
        <div class="row">
            <div class="col-lg-12">
                <div class="filter-wrap margin-bottom-30px">
                    <div class="filter-top d-flex align-items-center justify-content-between pb-4">
                        <div>
                            <h3 class="title font-size-24">{{schedules.count}} Schedules Find</h3>
                            <p class="font-size-14 line-height-20 pt-1">Book with confidence: No booking fees</p>
                        </div>
                        <div class="layout-view d-flex align-items-center">
                            <a href="tour-grid.html" data-toggle="tooltip" data-placement="top" title=""
                               data-original-title="Grid View"><i class="la la-th-large"></i></a>
                            <a href="tour-list.html" data-toggle="tooltip" data-placement="top" title="" class="active"
                               data-original-title="List View"><i class="la la-th-list"></i></a>
                        </div>
                    </div>
                    <div class="filter-bar d-flex align-items-center justify-content-between">
                        <div class="filter-bar-filter d-flex flex-wrap align-items-center">

                            <div class="filter-option">
                                <h3 class="title font-size-16">Filter by:</h3>
                            </div>
                            <div class="filter-option">
                                <div class="dropdown dropdown-contain">
                                    <a class="dropdown-toggle dropdown-btn dropdown--btn" href="#" role="button"
                                       data-toggle="dropdown">
                                        Filter Price
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-wrap">
                                        <div class="dropdown-item">
                                            <div class="slider-range-wrap">
                                                <div class="price-slider-amount padding-bottom-20px">
                                                    <label for="amount" class="filter__label">Price:</label>
                                                    <input type="text" id="amount" class="amounts">
                                                </div>
                                                <div id="slider-range"
                                                     class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content">
                                                    <div class="ui-slider-range ui-corner-all ui-widget-header"
                                                         style="left: 4%; width: 76%;"></div>
                                                    <span tabindex="0"
                                                          class="ui-slider-handle ui-corner-all ui-state-default"
                                                          style="left: 4%;"></span><span tabindex="0"
                                                                                         class="ui-slider-handle ui-corner-all ui-state-default"
                                                                                         style="left: 80%;"></span>
                                                </div>
                                            </div>
                                            <div class="btn-box pt-4">
                                                <button class="theme-btn theme-btn-small theme-btn-transparent"
                                                        type="button">Apply
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="filter-option">
                                <div class="dropdown dropdown-contain">
                                    <a class="dropdown-toggle dropdown-btn dropdown--btn" href="#" role="button"
                                       data-toggle="dropdown">
                                        Review Score
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-wrap">
                                        <div class="dropdown-item">
                                            <div class="checkbox-wrap">
                                                <div class="custom-checkbox">
                                                    <input type="checkbox" id="r1">
                                                    <label for="r1">
                                                        <span class="ratings d-flex align-items-center">
                                                            <i class="la la-star"></i>
                                                            <i class="la la-star"></i>
                                                            <i class="la la-star"></i>
                                                            <i class="la la-star"></i>
                                                            <i class="la la-star"></i>
                                                            <span class="color-text-3 font-size-13 ml-1">(55.590)</span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="custom-checkbox">
                                                    <input type="checkbox" id="r2">
                                                    <label for="r2">
                                                        <span class="ratings d-flex align-items-center">
                                                            <i class="la la-star"></i>
                                                            <i class="la la-star"></i>
                                                            <i class="la la-star"></i>
                                                            <i class="la la-star"></i>
                                                            <i class="la la-star-o"></i>
                                                            <span class="color-text-3 font-size-13 ml-1">(40.590)</span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="custom-checkbox">
                                                    <input type="checkbox" id="r3">
                                                    <label for="r3">
                                                        <span class="ratings d-flex align-items-center">
                                                            <i class="la la-star"></i>
                                                            <i class="la la-star"></i>
                                                            <i class="la la-star"></i>
                                                            <i class="la la-star-o"></i>
                                                            <i class="la la-star-o"></i>
                                                            <span class="color-text-3 font-size-13 ml-1">(23.590)</span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="custom-checkbox">
                                                    <input type="checkbox" id="r4">
                                                    <label for="r4">
                                                        <span class="ratings d-flex align-items-center">
                                                            <i class="la la-star"></i>
                                                            <i class="la la-star"></i>
                                                            <i class="la la-star-o"></i>
                                                            <i class="la la-star-o"></i>
                                                            <i class="la la-star-o"></i>
                                                            <span class="color-text-3 font-size-13 ml-1">(12.590)</span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="custom-checkbox">
                                                    <input type="checkbox" id="r5">
                                                    <label for="r5">
                                                        <span class="ratings d-flex align-items-center">
                                                            <i class="la la-star"></i>
                                                            <i class="la la-star-o"></i>
                                                            <i class="la la-star-o"></i>
                                                            <i class="la la-star-o"></i>
                                                            <i class="la la-star-o"></i>
                                                            <span class="color-text-3 font-size-13 ml-1">(590)</span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div><!-- end dropdown-item -->
                                    </div><!-- end dropdown-menu -->
                                </div><!-- end dropdown -->
                            </div>
                            <div class="filter-option">
                                <div class="dropdown dropdown-contain">
                                    <a class="dropdown-toggle dropdown-btn dropdown--btn" href="#" role="button"
                                       data-toggle="dropdown">
                                        Categories
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-wrap">
                                        <div class="dropdown-item">
                                            <div class="checkbox-wrap">
                                                <div class="custom-checkbox">
                                                    <input type="checkbox" id="catChb1">
                                                    <label for="catChb1">Active Adventures Tours</label>
                                                </div>
                                                <div class="custom-checkbox">
                                                    <input type="checkbox" id="catChb2">
                                                    <label for="catChb2">Ecotourism</label>
                                                </div>
                                                <div class="custom-checkbox">
                                                    <input type="checkbox" id="catChb3">
                                                    <label for="catChb3">Group Tours</label>
                                                </div>
                                                <div class="custom-checkbox">
                                                    <input type="checkbox" id="catChb4">
                                                    <label for="catChb4">Ligula</label>
                                                </div>
                                                <div class="custom-checkbox">
                                                    <input type="checkbox" id="catChb5">
                                                    <label for="catChb5">Family Tours</label>
                                                </div>
                                                <div class="custom-checkbox">
                                                    <input type="checkbox" id="catChb6">
                                                    <label for="catChb6">City Tour</label>
                                                </div>
                                                <div class="custom-checkbox">
                                                    <input type="checkbox" id="catChb7">
                                                    <label for="catChb7">National Park Tours</label>
                                                </div>
                                            </div>
                                        </div><!-- end dropdown-item -->
                                    </div><!-- end dropdown-menu -->
                                </div><!-- end dropdown -->
                            </div>

                        </div>
                        <div class="select-contain">
                            <div class="dropdown bootstrap-select select-contain-select"><select
                                    class="select-contain-select" tabindex="-98">
                                <option value="1">Short by default</option>
                                <option value="2">New Tour</option>
                                <option value="3">Price: low to high</option>
                                <option value="4">Price: high to low</option>
                                <option value="5">A to Z</option>
                            </select>
                                <button type="button" class="btn dropdown-toggle btn-light" data-toggle="dropdown"
                                        role="combobox" aria-owns="bs-select-3" aria-haspopup="listbox"
                                        aria-expanded="false" title="Short by default">
                                    <div class="filter-option">
                                        <div class="filter-option-inner">
                                            <div class="filter-option-inner-inner">Short by default</div>
                                        </div>
                                    </div>
                                </button>
                                <div class="dropdown-menu ">
                                    <div class="bs-searchbox"><input type="search" class="form-control"
                                                                     autocomplete="off" placeholder="Search"
                                                                     role="combobox" aria-label="Search"
                                                                     aria-controls="bs-select-3"
                                                                     aria-autocomplete="list"></div>
                                    <div class="inner show" role="listbox" id="bs-select-3" tabindex="-1">
                                        <ul class="dropdown-menu inner show" role="presentation"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {#-----------------Schedules-----------------#}
        <div class="row">
            <div class="col-lg-4">
                <div class="sidebar mt-0">
                    <div class="sidebar-widget">
                        <h3 class="title stroke-shape">Where would like to go?</h3>
                        <div class="sidebar-widget-item">
                            <div class="contact-form-action">
                                <form action="#">
                                    <div class="input-box">
                                        <label class="label-text">Destination</label>
                                        <div class="form-group">
                                            <span class="la la-map-marker form-icon"></span>
                                            <input class="form-control" type="text"
                                                   placeholder="Destination, city">
                                        </div>
                                    </div>
                                    <div class="input-box">
                                        <label class="label-text">From</label>
                                        <div class="form-group">
                                            <span class="la la-map-marker form-icon"></span>
                                            <input class="form-control" type="text"
                                                   placeholder="From">
                                        </div>
                                    </div>
                                    <div class="input-box">
                                        <label class="label-text">Date</label>
                                        <div class="form-group">
                                            <span class="la la-calendar form-icon"></span>
                                            <input class="date-range form-control" type="text" name="daterange-single">
                                        </div>
                                    </div>
                                    <div class="input-box">
                                        <div class="form-group">
                                            <div class="select-contain select-contain-shadow w-auto">
                                                <div class="dropdown bootstrap-select select-contain-select">
                                                    <div class="dropdown-menu ">
                                                        <div class="bs-searchbox"><input type="search"
                                                                                         class="form-control"
                                                                                         autocomplete="off"
                                                                                         placeholder="Search"
                                                                                         role="combobox"
                                                                                         aria-label="Search"
                                                                                         aria-controls="bs-select-4"
                                                                                         aria-autocomplete="list"></div>
                                                        <div class="inner show" role="listbox" id="bs-select-4"
                                                             tabindex="-1">
                                                            <ul class="dropdown-menu inner show"
                                                                role="presentation"></ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="btn-box pt-2">
                            <a href="tour-search-result.html" class="theme-btn">Search Now</a>
                        </div>
                    </div><!-- end sidebar-widget -->
                    <div class="sidebar-widget">
                        <h3 class="title stroke-shape">Filter by Price</h3>
                        <div class="sidebar-price-range">
                            <div class="main-search-input-item">
                                <div class="price-slider-amount padding-bottom-20px">
                                    <label for="amount2" class="filter__label">Price:</label>
                                    <input type="text" id="amount2" class="amounts">
                                </div><!-- end price-slider-amount -->
                                <div id="slider-range2"
                                     class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content">
                                    <div class="ui-slider-range ui-corner-all ui-widget-header"
                                         style="left: 4%; width: 76%;"></div>
                                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"
                                          style="left: 4%;"></span><span tabindex="0"
                                                                         class="ui-slider-handle ui-corner-all ui-state-default"
                                                                         style="left: 80%;"></span></div>
                                <!-- end slider-range -->
                            </div><!-- end main-search-input-item -->
                            <div class="btn-box pt-4">
                                <button class="theme-btn theme-btn-small theme-btn-transparent" type="button">Apply
                                </button>
                            </div>
                        </div>
                    </div><!-- end sidebar-widget -->
                    <div class="sidebar-widget">
                        <h3 class="title stroke-shape">Review Score</h3>
                        <div class="sidebar-category">
                            <div class="custom-checkbox">
                                <input type="checkbox" id="r6">
                                <label for="r6">Excellent</label>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" id="r7">
                                <label for="r7">Very Good</label>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" id="r8">
                                <label for="r8">Average</label>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" id="r9">
                                <label for="r9">Poor</label>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" id="r10">
                                <label for="r10">Terrible</label>
                            </div>
                        </div>
                    </div><!-- end sidebar-widget -->
                    <div class="sidebar-widget">
                        <h3 class="title stroke-shape">Filter by Rating</h3>
                        <div class="sidebar-review">
                            <div class="custom-checkbox">
                                <input type="checkbox" id="s1">
                                <label for="s1">
                                    <span class="ratings d-flex align-items-center">
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <span class="color-text-3 font-size-13 ml-1">(55.590)</span>
                                    </span>
                                </label>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" id="s2">
                                <label for="s2">
                                    <span class="ratings d-flex align-items-center">
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star-o"></i>
                                        <span class="color-text-3 font-size-13 ml-1">(40.590)</span>
                                    </span>
                                </label>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" id="s3">
                                <label for="s3">
                                    <span class="ratings d-flex align-items-center">
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star-o"></i>
                                        <i class="la la-star-o"></i>
                                        <span class="color-text-3 font-size-13 ml-1">(23.590)</span>
                                    </span>
                                </label>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" id="s4">
                                <label for="s4">
                                    <span class="ratings d-flex align-items-center">
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star-o"></i>
                                        <i class="la la-star-o"></i>
                                        <i class="la la-star-o"></i>
                                        <span class="color-text-3 font-size-13 ml-1">(12.590)</span>
                                    </span>
                                </label>
                            </div>
                            <div class="custom-checkbox mb-0">
                                <input type="checkbox" id="s5">
                                <label for="s5">
                                    <span class="ratings d-flex align-items-center">
                                        <i class="la la-star"></i>
                                        <i class="la la-star-o"></i>
                                        <i class="la la-star-o"></i>
                                        <i class="la la-star-o"></i>
                                        <i class="la la-star-o"></i>
                                        <span class="color-text-3 font-size-13 ml-1">(590)</span>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div><!-- end sidebar-widget -->
                    <div class="sidebar-widget">
                        <h3 class="title stroke-shape">Categories</h3>
                        <div class="sidebar-category">
                            <div class="custom-checkbox">
                                <input type="checkbox" id="c1">
                                <label for="c1">All <span class="font-size-13 ml-1">(1809)</span></label>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" id="c2">
                                <label for="c2">Active Adventure Tours <span
                                        class="font-size-13 ml-1">(809)</span></label>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" id="c3">
                                <label for="c3">Ecotourism <span class="font-size-13 ml-1">(504)</span></label>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" id="c4">
                                <label for="c4">Escorted Tours <span class="font-size-13 ml-1">(401)</span></label>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" id="c5">
                                <label for="c5">Group Tours <span class="font-size-13 ml-1">(277)</span></label>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" id="c6">
                                <label for="c6">Ligula <span class="font-size-13 ml-1">(87)</span></label>
                            </div>
                            <div class="collapse" id="categoryMenu">
                                <div class="custom-checkbox">
                                    <input type="checkbox" id="c7">
                                    <label for="c7">Family Tours <span class="font-size-13 ml-1">(100)</span></label>
                                </div>
                                <div class="custom-checkbox">
                                    <input type="checkbox" id="c8">
                                    <label for="c8">City Trips <span class="font-size-13 ml-1">(58)</span></label>
                                </div>
                                <div class="custom-checkbox">
                                    <input type="checkbox" id="c9">
                                    <label for="c9">National Parks Tours <span
                                            class="font-size-13 ml-1">(33)</span></label>
                                </div>
                            </div><!-- end collapse -->
                            <a class="btn-text" data-toggle="collapse" href="#categoryMenu" role="button"
                               aria-expanded="false" aria-controls="categoryMenu">
                                <span class="show-more">Show More <i class="la la-angle-down"></i></span>
                                <span class="show-less">Show Less <i class="la la-angle-up"></i></span>
                            </a>
                        </div>
                    </div><!-- end sidebar-widget -->
                    <div class="sidebar-widget">
                        <h3 class="title stroke-shape">Tour Duration</h3>
                        <div class="sidebar-category">
                            <div class="custom-checkbox">
                                <input type="checkbox" id="all">
                                <label for="all">All</label>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" id="full-day">
                                <label for="full-day">Full Day</label>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" id="days-10">
                                <label for="days-10">10 Days</label>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" id="days-7">
                                <label for="days-7">7 Days</label>
                            </div>
                            <div class="custom-checkbox">
                                <input type="checkbox" id="days-5">
                                <label for="days-5">5 Days</label>
                            </div>
                            <div class="collapse" id="tourDurationMenu">
                                <div class="custom-checkbox">
                                    <input type="checkbox" id="days-3">
                                    <label for="days-3">3 Days</label>
                                </div>
                                <div class="custom-checkbox">
                                    <input type="checkbox" id="days-2">
                                    <label for="days-2">2 Days</label>
                                </div>
                                <div class="custom-checkbox">
                                    <input type="checkbox" id="hours-8">
                                    <label for="hours-8">8 Hours</label>
                                </div>
                                <div class="custom-checkbox">
                                    <input type="checkbox" id="hours-3-5">
                                    <label for="hours-3-5">3-5 Hours</label>
                                </div>
                                <div class="custom-checkbox">
                                    <input type="checkbox" id="hours-3">
                                    <label for="hours-3">3 Hours</label>
                                </div>
                            </div><!-- end collapse -->
                            <a class="btn-text" data-toggle="collapse" href="#tourDurationMenu" role="button"
                               aria-expanded="false" aria-controls="tourDurationMenu">
                                <span class="show-more">Show More <i class="la la-angle-down"></i></span>
                                <span class="show-less">Show Less <i class="la la-angle-up"></i></span>
                            </a>
                        </div>
                    </div><!-- end sidebar-widget -->
                </div><!-- end sidebar -->
            </div>
            <div class="col-lg-8">

                {% if schedules %}

                {% for schedule in schedules %}
                <div class="card-item card-item-list ">
                    <div class="card-body">
                        <h3 class="card-title mb-3">Date : {{schedule.schedule_date}} <span
                                class="ml-2 la la-calendar"></span></h3>
                        <div class="row">
                            <div class="col-lg-6 mb-3">
                                <h3 class="card-title"><span class="la la-clock"></span> Departure Time :</h3>
                                <h5 class="text-primary">{{schedule.departure_time}}</h5>
                                <p class="mt-3">
                                    <span class="price__from"><span class="la la-map-marker"></span> From :</span>
                                    <strong class="price__num"> {{schedule.vehicle.content_object.location}}</strong>
                                </p>
                            </div>
                            <div class="col-lg-6 mb-3">
                                <h3 class="card-title"><span class="la la-clock"></span> Arrival Time :</h3>
                                <h5 class="text-primary">{{schedule.arrival_time}}</h5>
                                <p class="mt-3">
                                    <span class="price__from"><span class="la la-map-marker"></span> To :</span>
                                    <strong class="price__num">{{schedule.destination}}</strong>
                                </p>
                            </div>
                        </div>

                        <div class="card-price d-flex align-items-center justify-content-between">
                            <p>
                                <span class="price__from">Price : </span>
                                <span class="price__num">{{schedule.price}} RS</span>
                            </p>
                             <p>
                                <span class="price__from">AGENCY : </span>
                                <span class="price__num">{{schedule.vehicle.content_object}}</span>
                            </p>
                            <a href="{% url 'website:vehicle-detail' schedule.vehicle.id %}" class="btn btn-warning text-white">Book Now</a>
                        </div>
                    </div>
                </div>
                {% endfor %}

                {% else %}
                <div class="card-item card-item-list ">
                    <div class="card-body">
                        <h3 class="card-title text-danger">No Schedules Find</h3>
                    </div>
                </div>
                {% endif%}

            </div>
        </div>

        {#-----------------Details Schedules-----------------#}
        <div class="row">
            <div class="col-lg-12">
                <div class="btn-box mt-3 text-center">
                    <button type="button" class="theme-btn"><i class="la la-refresh mr-1"></i>Load More</button>
                    <p class="font-size-13 pt-2">Showing 1 - 8 of {{schedule.count}} Schedules</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!------------------------------------------------CARD SECTION--------------------------------------------------------->
<div class="section-block"></div>

<!------------------------------------------------INFO AREA------------------------------------------------------------>
<section class="info-area info-bg padding-top-90px padding-bottom-70px">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 responsive-column">
                <a href="#" class="icon-box icon-layout-2 d-flex">
                    <div class="info-icon flex-shrink-0 bg-rgb text-color-2">
                        <i class="la la-phone"></i>
                    </div>
                    <div class="info-content">
                        <h4 class="info__title">Need Help? Contact us</h4>
                        <p class="info__desc">
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 responsive-column">
                <a href="#" class="icon-box icon-layout-2 d-flex">
                    <div class="info-icon flex-shrink-0 bg-rgb-2 text-color-3">
                        <i class="la la-money"></i>
                    </div>
                    <div class="info-content">
                        <h4 class="info__title">Payments</h4>
                        <p class="info__desc">
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 responsive-column">
                <a href="#" class="icon-box icon-layout-2 d-flex">
                    <div class="info-icon flex-shrink-0 bg-rgb-3 text-color-4">
                        <i class="la la-times"></i>
                    </div>
                    <div class="info-content">
                        <h4 class="info__title">Cancel Policy</h4>
                        <p class="info__desc">
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<!------------------------------------------------SUBSCRIBE EMAIL FORM------------------------------------------------->
{% include 'website/include/subscriber_form.html' %}

{% endblock %}